incus_token = "eyJ ..."

vm_list = {
  "lab-vm-01" = {
    cpu       = 2
    memory    = "4GiB"
    disk      = "20GiB"
    station   = "station04"
    pool      = "hdd1"
    user_data = <<-EOT
      #cloud-config
      users:
        - name: user...
          groups: sudo
          shell: /bin/bash
          sudo: 'ALL=(ALL) NOPASSWD:ALL'
          lock_passwd: false
          passwd: '$6$rounds=4096$263ZelB29w5O.kZy$rvBZypzvNY1z3PXZffslCnQ7SlINARrLe94Razgf6QSVESvcg24cHLrg9jHeuKh5PGH70TB4jOoaO3oKb4bFB.'
          ssh_authorized_keys:
            - "ssh- ..."

      packages:
        - git
        - ssh
    EOT
  }
}

